<section class="aui-flexView">
  <!--<header class="aui-navBar1 aui-navBar-fixed">
	<a href="javascript:;" class="aui-navBar-item1">
		 <i class="iconfont icon-fanhui"></i>
	</a>
	<div class="aui-center1">
		<div class="aui-search-box1">
			<input type="text" placeholder="请输入搜索内容">
		</div>
	</div>
	<a href="javascript:;" class="aui-navBar-item1" >
		<i class="iconfont icon-sousuo"></i>
	</a>
  </header>-->
    
	<section class="aui-scrollView">

	   <div class="wss">
		<img src="images/developing.png">
		<p>敬请期待...</p>
	   </div>

	</section>

	<!-- 底部菜单栏 -->
	<bottom-nav current-nav="currentNav" change-Menu="changeMenuBar(menu)"></bottom-nav>
  
</section>
