<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edgedo.society.mapper.SocietyStudentCommentMapper" >
   
   
    <resultMap id="BaseResultMap" type="com.edgedo.society.entity.SocietyStudentComment" >
			<id column="ID" property="id"/>
			<result column="CREATE_TIME" property="createTime"/>
			<result column="OWNER_SCHOOL_ID" property="ownerSchoolId"/>
			<result column="OWNER_SCHOOL_NAME" property="ownerSchoolName"/>
			<result column="OWNER_COURSE_ID" property="ownerCourseId"/>
			<result column="OWNER_COURSE_NAME" property="ownerCourseName"/>
			<result column="OWNER_NODE_ID" property="ownerNodeId"/>
			<result column="OWNER_NODE_NAME" property="ownerNodeName"/>
			<result column="OWNER_STUDENT_ID" property="ownerStudentId"/>
			<result column="OWNER_STUDENT_NAME" property="ownerStudentName"/>
			<result column="STU_HEAD_PHOTO" property="stuHeadPhoto"/>
			<result column="STU_NICK_NAME" property="stuNickName"/>
			<result column="COMMENT_TEXT" property="commentText"/>
    </resultMap>
   
    <resultMap id="BaseResultViewMap" type="com.edgedo.society.queryvo.SocietyStudentCommentView" extends="BaseResultMap">
    
    </resultMap>
  
  
  <!-- ******* 新增字段请修改这里  ******  -->
  <sql id="Base_Column_List">
	 ID, CREATE_TIME, OWNER_SCHOOL_ID, OWNER_SCHOOL_NAME, OWNER_COURSE_ID, OWNER_COURSE_NAME, OWNER_NODE_ID, OWNER_NODE_NAME, OWNER_STUDENT_ID, OWNER_STUDENT_NAME, STU_HEAD_PHOTO, STU_NICK_NAME, COMMENT_TEXT
  </sql>
  
  <!-- ******* 利用好这里的动态查询条件  ******  -->
  <sql id="where">
  	<where>
		<if test='queryObj != null and  queryObj.id != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.id)'>
		AND  ID = #{queryObj.id}
		</if>
		<if test='queryObj != null and  queryObj.createTime != null'>
			AND  CREATE_TIME = #{queryObj.createTime}
		</if>
		<if test='queryObj != null and  queryObj.ownerSchoolId != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.ownerSchoolId)'>
		AND  OWNER_SCHOOL_ID = #{queryObj.ownerSchoolId}
		</if>
		<if test='queryObj != null and  queryObj.ownerSchoolName != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.ownerSchoolName)'>
		AND  OWNER_SCHOOL_NAME = #{queryObj.ownerSchoolName}
		</if>
		<if test='queryObj != null and  queryObj.ownerCourseId != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.ownerCourseId)'>
		AND  OWNER_COURSE_ID = #{queryObj.ownerCourseId}
		</if>
		<if test='queryObj != null and  queryObj.ownerCourseName != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.ownerCourseName)'>
		AND  OWNER_COURSE_NAME = #{queryObj.ownerCourseName}
		</if>
		<if test='queryObj != null and  queryObj.ownerNodeId != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.ownerNodeId)'>
		AND  OWNER_NODE_ID = #{queryObj.ownerNodeId}
		</if>
		<if test='queryObj != null and  queryObj.ownerNodeName != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.ownerNodeName)'>
		AND  OWNER_NODE_NAME = #{queryObj.ownerNodeName}
		</if>
		<if test='queryObj != null and  queryObj.ownerStudentId != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.ownerStudentId)'>
		AND  OWNER_STUDENT_ID = #{queryObj.ownerStudentId}
		</if>
		<if test='queryObj != null and  queryObj.ownerStudentName != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.ownerStudentName)'>
		AND  OWNER_STUDENT_NAME like concat('%',#{queryObj.ownerStudentName},'%')
		</if>
		<if test='queryObj != null and  queryObj.stuHeadPhoto != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.stuHeadPhoto)'>
		AND  STU_HEAD_PHOTO = #{queryObj.stuHeadPhoto}
		</if>
		<if test='queryObj != null and  queryObj.stuNickName != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.stuNickName)'>
		AND  STU_NICK_NAME like concat('%',#{queryObj.stuNickName},'%')
		</if>
		<if test='queryObj != null and  queryObj.commentText != null and @org.apache.commons.lang3.StringUtils@isNotEmpty(queryObj.commentText)'>
		AND  COMMENT_TEXT = #{queryObj.commentText}
		</if>
  	</where>
  	
  </sql>
  
  <!-- ******* 排序判断  ******
<sql id="orderBy">
  	<if test="orderBy != null and orderBy!= '' ">
  		order by  ${orderBy}
  	</if>
  </sql>-->
  
  
  <!-- 分页条件查询  -->
  <select id="listPage" parameterType="com.edgedo.society.queryvo.SocietyStudentCommentQuery" resultMap="BaseResultViewMap">
  		select <include refid="Base_Column_List"/> from society_student_comment 
  		<include refid="where"/>

  </select>
  
   <!-- 不分页条件查询  -->
  <select id="listByObj" parameterType="com.edgedo.society.queryvo.SocietyStudentCommentQuery" resultMap="BaseResultViewMap">
  		select <include refid="Base_Column_List"/> from society_student_comment 
  		<include refid="where"/>
  </select>
  
  
</mapper>